<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witaj w Atlasie Grzybów {{username}}</title>
</head>
<body>
<h3>Witam {{  username }}.</h3>

<p>Zarejestrowałeś się w atlasie grzybów. Na razie nie możesz edytować danych w nim zawartych. Jeśli chcesz to robić i być częścią społeczności tworzącej ten atlas poproś o taką możliwość administrację serwisu pod adresem <a href="mailto:{{ emailToAdmin }}?subject=Prośba o nadanie praw użytkownikowi {{ username }}&body=Proszę o nadanie mi praw do edycji i dodawania informacji do Atlasu Grzybów"> {{ emailToAdmin   }}</a>.</p>
<br>
<p>Pozdrowienia
Wachcio - AtlasGrzybów</p>

</body>
</html>